body {
    margin: 15px;
    background-color: black;
}
.content {
    background-color: black;
    border-radius: 0px;
    border-width: 0px;
    font-family: 'PT Mono';
}
.content input[type=text] {
    padding: 5px;
    border-radius: 10px;
    border-style: double;
    outline: none;
    font-family: 'PT Mono';
    transition: 0.2s;
}
.content input[type=text]:focus {
    border-color: black;
}
.content input[type=submit] {
    display: none;
}
.content button {
    padding: 5px;
    cursor: pointer;
    border-radius: 0px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    transition: 0.2s;
}
.content button:hover {
    border-color: rgb(77, 77, 77);
}
.content iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border: none;
}
.bar {
    position: fixed;
    bottom: 0;
    left: 10px;
    width: max-content;
    height: max-content;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0px 0px;
    align-self: center;
}


@media(max-width: 800px) {
   
    .content iframe {
        width: 100%;
        margin: 0;
    }
    .bar {
        left: 0;
        width: 100%;
        padding: 0;
    }
    .content button {
        height: 50px;
    }
    .content input[type=text] {
        width: 50%;
        margin-left: 5px;
    }
    }